
.icon-plancast:before { content: '\e800'; } /* '' */
.icon-emo-wink:before { content: '\e801'; } /* '' */
.icon-layers:before { content: '\e802'; } /* '' */
.icon-leaf:before { content: '\e803'; } /* '' */
.icon-emo-wink2:before { content: '\e813'; } /* '' */